<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class='container'>
            <audio src="/media/theme2.mp3" autoplay volume="0.7"></audio>
            <h1 class="header-copy"><img class="header-icon" src="/img/spacetrucker2.png"> GAME OVER <img class="header-icon" src="/img/spacetrucker.png"></h1>
            <hr>
            <br><br><br><br><br>
            <div class='row'>
                <div class='col-xs-6'>
                    <h3>{{ ship.getName }}</h3>
                    <p class='indent'>You survived the vagaries of interstellar trade for {{ ship.getTurn }} Turns, and your Credit Balance is {{ ship.getCredits }}. Well done!</p>
                </div>
                <div class='col-xs-6'>
                    <h3>High Scores</h3>
                    <div class='row'>
                        <div class='col-xs-4 col-xs-offset-2 right'>
                            <p>Score</p>
                            <hr>
                            {% for score in high_scores %}
                                <p>{{ score[1] }}</p>
                            {% endfor %}
                        </div>
                        <div class='col-xs-4 center'>
                            <p>Ship Name</p>
                            <hr>
                            {% for score in high_scores %}
                                <p>{{ score[0] }}</p>
                            {% endfor %}
                        </div>
                        <div class='col-xs-2'>
                            <p>Turn</p>
                            <hr>
                            {% for score in high_scores %}
                                <p>{{ score[2] }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br><br><br><br><br><br><br><br>
            <hr>
            <form action="/" method="get">
                <button class='form-control btn btn-danger start_button' type="submit">Try Again?</button>
            </form>
            <hr>
            <h5 class="footer-copy">GRENDL: General Robotics Engineering Navigation &amp; Direction Logic</h5>
        </div>
    </body>
</html>
