<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GRENDL: Navigation</title>
    </head>
    <body>
        <div class="container">
            <h1 class="header-copy"><img class="header-icon" src="/img/spacetrucker2.png"> NAVIGATION <img class="header-icon" src="/img/spacetrucker.png"></h1>
            <hr>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <h5>Current Location</h5>
                </div>
                <div class="col-xs-5">
                    <h5>Selected Destination:</h5>
                </div>
                <div class="col-xs-2">
                    <h5>Fuel Level</h5>
                </div>
                <div class="col-xs-1">
                    <h5>Credits</h5>
                </div>
                <div class="col-xs-2">
                    <h5>Go/No-Go:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <h5>{{ ship.getLocation[1] }} , {{ ship.getlocation[0] }}</h5>
                </div>
                <div class="col-xs-5">
                    <h5><span id="destination_name">&nbsp;</span> <span id="destination_coordinates"></span></h5>
                </div>
                <div class="col-xs-2">
                    <h5>{{ ship.getCurrentFuel }} / {{ ship.getFuelCapacity }}</h5>
                </div>
                <div class="col-xs-1">
                    <h5>{{ ship.getCredits }}</h5>
                </div>
                <div class="col-xs-2">
                    <form action="/navigation/{{ ship.getId }}/go" method="post" id="navigation">
                        <input type="hidden" id="current_x" value="{{ ship.getLocation[0] }}">
                        <input type="hidden" id="current_y" value="{{ ship.getLocation[1] }}">
                        <input type="hidden" id="current_fuel" value="{{ ship.getCurrentFuel }}">
                        <input type="hidden" name="destination_x" id="destination_x">
                        <input type="hidden" name="destination_y" id="destination_y">
                    </form>
                    <button type="button" class="btn btn-success" id="go_travel">Go!</button>
                    <a href="/main_display/{{ ship.getId }}" class="btn btn-warning">Abort!</a>
                </div>
            </div>
            <hr>
            {% set shipX = ship.getLocation[0] %}
            {% set shipY = ship.getLocation[1] %}
            {% set counter = 0 %}
            {% for x in 1..10 %}
                <div class="row">
                <div class="col-xs-1"></div>
                {% for y in 1..10 %}
                    {% if shipX == x and shipY == y %}
                        <div class="col-xs-1 planet-description player-here" id="{{ planets[counter].getX }}_{{ planets[counter].getY }}">
                    {% else %}
                        <div class="col-xs-1 planet-description" id="{{ planets[counter].getX }}_{{ planets[counter].getY }}">
                    {% endif %}
                        {% if planets[counter].getType != 0 %}
                            <p class="planet_name">{{ planets[counter].getName }}</p>
                            {% if planets[counter].getType == 1 %}
                                <h5><span class="glyphicon glyphicon-star planet-icon agricultural"></span></h5>
                            {% elseif planets[counter].getType == 2 %}
                                <h5><span class="glyphicon glyphicon-star planet-icon industrial"></span></h5>
                            {% else %}
                                <h5><span class="glyphicon glyphicon-tint planet-icon"></span></h5>
                            {% endif %}
                            {% if planets[counter].getPopulation == 1 %}
                                <p><span class="glyphicon glyphicon-user planet-icon"></span></p>
                            {% elseif planets[counter].getPopulation == 2 %}
                                <p><span class="glyphicon glyphicon-user planet-icon"></span><span class="glyphicon glyphicon-user planet-icon"></span></p>
                            {% elseif planets[counter].getPopulation == 3 %}
                                <p><span class="glyphicon glyphicon-user planet-icon"></span><span class="glyphicon glyphicon-user planet-icon"></span><span class="glyphicon glyphicon-user planet-icon"></span></p>
                            {% else %}
                            {% endif %}
                        {% endif %}
                        {% if shipX == x and shipY == y %}
                            <p class="you-are-here">You Are Here!<p>
                        {% endif %}
                        {% set counter = counter + 1 %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            <hr>
            <h5 class="footer-copy">GRENDL: General Robotics Engineering Navigation &amp; Direction Logic</h5>
        </div>
    </body>
</html>
