<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            {% if planet.getType == 3 %}
                <!--  this is the fuel page -->
                <h1 class="header-copy"><img class="header-icon" src="/img/spacetrucker2.png"> BUY FUEL <img class="header-icon" src="/img/spacetrucker.png"></h1>
                <hr>
                <div class='row'>
                    <div class='col-xs-2 col-xs-offset-4 right ship_info'>
                        <p>Category</p>
                        <hr>
                        <p>Fuel Level</p>
                        <p>Cargo Level</p>
                        <p>Credits</p>
                    </div>
                    <div class='col-xs-2 ship_info'>
                        <p>Balance</p>
                        <hr>
                        <p>{{ ship.getCurrentFuel }}/{{ ship.getFuelCapacity }}</p>
                        <p>{{ ship.getCargoLoad }}/{{ ship.getCargoCapacity }}</p>
                        <p>{{ ship.getCredits }}</p>
                    </div>
                </div>
                <br><br><br><br>
                <div class='row'>
                    <div class='col-xs-4'>
                        <form action='/buy_fuel/{{ ship.getId }}' method='post'>
                            <input type='hidden' value='1' name='quantity'>
                            <button class='btn form-control fuel_btn' type='submit'>BUY 1 FUEL<br>FOR {{ fuel_price }} CREDITS</button>
                        </form>
                    </div>
                    <div class='col-xs-4'>
                        <form action='/buy_fuel/{{ ship.getId }}' method='post'>
                            <input type='hidden' value='10' name='quantity'>
                            <button class='btn form-control fuel_btn' type='submit'>BUY 10 FUEL<br>FOR {{ fuel_price * 10 }} CREDITS</button>
                        </form>
                    </div>

                    <div class='col-xs-4'>
                        <form action='/buy_fuel/{{ ship.getId }}' method='post'>
                            <input type='hidden' value='50' name='quantity'>
                            <button class='btn form-control fuel_btn' type='submit'>BUY 50 FUEL<br>FOR {{ fuel_price * 50 }} CREDITS</button>
                        </form>
                    </div>
                </div>
                <br><br><br><br>
            {% else %}
                <!--  this is the Industrial or Agricultural planet trade page -->
                <h1 class="header-copy"><img class="header-icon" src="/img/spacetrucker2.png"> TRADE <img class="header-icon" src="/img/spacetrucker.png"></h1>
                <hr>
                <h3>Market Values</h3>

                <div class='row trade_row_top'>
                        <div class='col-xs-3 right'>
                            <p>Agricultural Items</p>
                            <hr>
                            <p>Ore</p>
                            <p>Grain</p>
                            <p>Livestock</p>
                            <p>Consumables</p>
                        </div>
                        <div class='col-xs-1'>
                            <p>Value</p>
                            <hr>
                            <p>{{ planet.getOrePrice }}</p>
                            <p>{{ planet.getGrainPrice }}</p>
                            <p>{{ planet.getLivestockPrice }}</p>
                            <p>{{ planet.getConsumablesPrice }}</p>
                        </div>
                        <div class='col-xs-3 right'>
                            <p>Industrial Items</p>
                            <hr>
                            <p>Consumer Goods</p>
                            <p>Heavy Machinery</p>
                            <p>Military Hardware</p>
                            <p>Robots</p>
                        </div>
                        <div class='col-xs-1'>
                            <p>Value</p>
                            <hr>
                            <p>{{ planet.getConsumerGoodsPrice }}</p>
                            <p>{{ planet.getHeavyMachineryPrice }}</p>
                            <p>{{ planet.getMilitaryHardwarePrice }}</p>
                            <p>{{ planet.getRobotsPrice }}</p>
                        </div>
                        <div class='col-xs-2 right ship_info'>
                            <p>Category</p>
                            <hr>
                            <p>Fuel Level</p>
                            <p>Cargo Level</p>
                            <p>Credits</p>
                        </div>
                        <div class='col-xs-2 ship_info'>
                            <p>Balance</p>
                            <hr>
                            <p>{{ ship.getCurrentFuel }}/{{ ship.getFuelCapacity }}</p>
                            <p>{{ ship.getCargoLoad }}/{{ ship.getCargoCapacity }}</p>
                            <p>{{ ship.getCredits }}</p>
                        </div>
                </div>

                <h3>Planet Inventory:</h3>
                <div class='row trade_row'>
                    <form action='/buy/{{ ship.getId }}' method='post' class='buy-sell'>
                        <div class='col-xs-1 col-xs-offset-1'>
                            <p>Units</p>
                            <hr>
                            <p>{{ planet.getOreQuantity }}</p>
                            <p>{{ planet.getGrainQuantity }}</p>
                            <p>{{ planet.getLivestockQuantity }}</p>
                            <p>{{ planet.getConsumablesQuantity }}</p>
                            <p>{{ planet.getConsumerGoodsQuantity }}</p>
                            <p>{{ planet.getHeavyMachineryQuantity }}</p>
                            <p>{{ planet.getMilitaryHardwareQuantity }}</p>
                            <p>{{ planet.getRobotsQuantity }}</p>
                        </div>
                        <div class='col-xs-3 col-xs-offset-1'>
                            <p>Item</p>
                            <hr>
                            <p>Ore</p>
                            <p>Grain</p>
                            <p>Livestock</p>
                            <p>Consumables</p>
                            <p>Consumer Goods</p>
                            <p>Heavy Machinery</p>
                            <p>Military Hardware</p>
                            <p>Robots</p>
                        </div>
                        <div class='col-xs-1 col-xs-offset-1'>
                            <p>Buy</p>
                            <hr>
                            <p><input class='trade_input' name='Ore' type='number' placeholder='0' min='0' max='{{ planet.getOreQuantity }}'></p>
                            <p><input class='trade_input' name='Grain' type='number' placeholder='0' min='0' max='{{ planet.getGrainQuantity }}'></p>
                            <p><input class='trade_input' name='Livestock' type='number' placeholder='0' min='0' max='{{ planet.getLivestockQuantity }}'></p>
                            <p><input class='trade_input' name='Consumables' type='number' placeholder='0' min='0' max='{{ planet.getConsumablesQuantity }}'></p>
                            <p><input class='trade_input' name='Consumer_Goods' type='number' placeholder='0' min='0' max='{{ planet.getConsumerGoodsQuantity }}'></p>
                            <p><input class='trade_input' name='Heavy_Machinery' type='number' placeholder='0' min='0' max='{{ planet.getHeavyMachineryQuantity }}'></p>
                            <p><input class='trade_input' name='Military_Hardware' type='number' placeholder='0' min='0' max='{{ planet.getMilitaryHardwareQuantity }}'></p>
                            <p><input class='trade_input' name='Robots' type='number' min='0' placeholder='0' max='{{ planet.getRobotsQuantity }}'></p>
                        </div>
                        <div class='col-xs-2 col-xs-offset-1'>
                            <button class='btn form-control fill btn-danger trade-button' type='button'>BUY</button>
                        </div>
                    </form>
                </div>



                <h3>Ship Inventory:</h3>
                <div class='row trade_row'>
                    <form action='/sell/{{ ship.getId }}' method='post' >
                        <div class='col-xs-1 col-xs-offset-1'>
                            <p>Units</p>
                            <hr>
                            <p>{{ ship.getCargoManifest[0].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[1].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[2].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[3].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[4].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[5].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[6].getQuantity }}</p>
                            <p>{{ ship.getCargoManifest[7].getQuantity }}</p>
                        </div>
                        <div class='col-xs-3 col-xs-offset-1'>
                            <p>Item</p>
                            <hr>
                            <p>Ore</p>
                            <p>Grain</p>
                            <p>Livestock</p>
                            <p>Consumables</p>
                            <p>Consumer Goods</p>
                            <p>Heavy Machinery</p>
                            <p>Military Hardware</p>
                            <p>Robots</p>
                        </div>
                        <div class='col-xs-1 col-xs-offset-1'>
                            <p>Sell</p>
                            <hr>
                            <p><input class='trade_input' name='Ore' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[0].getQuantity }}'></p>
                            <p><input class='trade_input' name='Grain' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[1].getQuantity }}'></p>
                            <p><input class='trade_input' name='Livestock' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[2].getQuantity }}'></p>
                            <p><input class='trade_input' name='Consumables' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[3].getQuantity }}'></p>
                            <p><input class='trade_input' name='Consumer_Goods' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[4].getQuantity }}'></p>
                            <p><input class='trade_input' name='Heavy_Machinery' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[5].getQuantity }}'></p>
                            <p><input class='trade_input' name='Military_Hardware' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[6].getQuantity }}'></p>
                            <p><input class='trade_input' name='Robots' type='number' placeholder='0' min='0' max='{{ ship.getCargoManifest[7].getQuantity }}'></p>
                        </div>
                        <div class='col-xs-2 col-xs-offset-1'>
                            <button class='btn form-control fill btn-info trade-button' type='button'>SELL</button>
                        </div>
                    </form>
                </div>
                <br><br>
            {% endif %}
            <form action='/main_display/{{ ship.getId }}'>
                <button type='submit' class='btn form-control btn-success btn_main_display'>MAIN DISPLAY</button>
            </form>
            <div class='row'>
                <hr>
                <h5 class="footer-copy">GRENDL: General Robotics Engineering Navigation &amp; Direction Logic</h5>
            </div>
        </div>
    </body>
</html>
